Form

<%= form_for @recept do |f| %>
  <ul>
    <li><%= f.label :link %></li>
    <li><%= f.text_field :link %></li>
    <li><%= f.label :form_param %></li>
    <li><%= f.select(:form_param, [%w(id id),%w(name name), %w(action action)]) %></li>
    <li><%= f.label :id_or_name %></li>
    <li><%= f.text_field :id_or_name %></li>
    <li><%= f.label :name_input_field %></li>
    <li><%= f.text_field :name_input_field %></li>
    <li><%= f.label :current %></li>
    <li><%= f.text_field :current %></li>
    <li><%= f.label :min %></li>
    <li><%= f.text_field :min %></li>
    <li><%= f.label :max %></li>
    <li><%= f.text_field :max %></li>
    <li><%= f.label :probability %></li>
    <li><%= f.text_field :probability %></li>
    <br>
    <li><%= f.submit %></li>
  </ul>

<% end %>


